<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Upload documentos do carro <%= @carro.placa %></h1>
  <%= link_to carro_path(@carro), class: 'd-none d-sm-inline-block btn btn-md btn-danger shadow-sm' do  %>
  <i class="fas fa-angle-left"></i> Voltar
  <% end %>
</div>


<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Enviar arquivo</h6>
  </div>
  <div class="card-body">
    <%= form_with model: @carro, url: carro_file_doc_index_path(@carro), method: :post, local: true do |f| %>
      <%= f.file_field :files, multiple: true %>
      <%= f.submit 'Upload', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>